
@{
    ViewBag.Title = "Education";
}
<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<body>
    <center>
        <h2>Education</h2>
        <table style="width:100%" align="center">
            <tr>
                <th>Certificate</th>
                <th>Board</th>
                <th>Institution</th>
                <th>Passing</th>
                <th>Result</th>
            </tr>
            <tr>
                <th>Secondary School Certificate (S.S.C.)</th>
                <th>Dhaka</th>
                <th>Mohammadpur Govt. High SchoolMohammadpur Govt. High School</th>
                <th>2016</th>
                <th>4.33/5</th>
            </tr>
            <tr>
                <th>Higher Secondary Certificate (H.S.C.)</th>
                <th>Dhaka</th>
                <th>Govt. Mohammadpur Model School and College</th>
                <th>2018</th>
                <th>3.57/5</th>
            </tr>
            <tr>
                <th>Bachelor of Science (B.Sc in Engineering)</th>
                <th></th>
                <th>American International University Bangladesh (AIUB)</th>
                <th>2022</th>
                <th>3.71/4</th>
            </tr>
        </table>
    </center>
</body>
</html>