
@{
    ViewBag.Title = "Projects";
}

<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border: 1px solid black;
    }
    tr{
        align-content:center;
    }
</style>
<body>
    <center>
        <h2>Projects</h2>
        <table style="width:100%">
            <tr>
                <th>Course Name</th>
                <th>Project Name</th>
            </tr>
            <tr>
                <th>IPL</th>
                <th>Grade Calculator</th>
            </tr>
            <tr>
                <th>OOP1</th>
                <th>Simple Calculator</th>
            </tr>
            <tr>
                <th>DB</th>
                <th>Food Delivery Management System</th>
            </tr>
            <tr>
                <th>SE</th>
                <th>Waste Food Management System</th>
            </tr>
            <tr>
                <th>WT</th>
                <th>Alumni Management System</th>
            </tr>
            <tr>
                <th>OOP2</th>
                <th>Advanced Traffic Management System</th>
            </tr>
            <tr>
                <th>APWT</th>
                <th>Tour Management System</th>
            </tr>
        </table>
    </center>
</body>
</html>

