
@{
    ViewBag.Title = "Reference";
}
<!DOCTYPE html>
<html>
<style>
</style>
<body>
        <h2>Reference</h2>
        <table align="center">
            <tr>
                <th>
                    1. RASHIDUL HASAN NABIL
                </th>
            </tr>
            <tr>
                <th>
                    Lecturer , Computer Science
                </th>
            </tr>
            <tr>
                <th>
                    AIUB, Dhaka
                </th>
            </tr>
            <tr>
                <th>
                    Email: rashidul@aiub.edu
                </th>
            </tr>
        </table>
</body>
</html>

