@model News_task.Models.Database.News
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
}

<h2>Create</h2>

<form action="/News/Create" method="post">
    <input type="text" name="Id" class="form-control" placeholder="Id">
    <input type="text" name="Title" class="form-control" placeholder="Title">
    <input type="text" name="Description" class="form-control" placeholder="Description">
    <input type="text" name="Category" class="form-control" placeholder="Category">
    <input type="text" name="PublishDate" class="form-control" placeholder="PublishDate">
    <input type="submit" style="color:red" value="Publish" />



</form>


