@model Assignment.Models.DB.Department
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Department/Create" method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name">
    <input type="submit" style="color:red" value="Add" />

</form>